.tasting {
    margin: 1.5rem 2.5rem;
    padding: 0 2.5rem;
    border: 1px solid #1b140d;
    background: #f0f0f0;
    box-shadow: .75rem .75rem 0 0 #1b140d;
    position: relative;

    h2 {
        font-size: 1.25rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('assets/boxtexture.png') repeat;
        opacity: .5;
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}
